# Python
__pycache__/
*.pyc
venv/

# Environment / secrets
.env

# Database
*.db

# Uploaded files
uploads/persons/*
uploads/sightings/*

# Keep upload folders
!uploads/persons/.gitkeep
!uploads/sightings/.gitkeep

# OS
.DS_Store